<!DOCTYPE html>
<html xmlns:th = "http:/www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/css/jquery-ui.min.css}" />
<title>Insert title here</title>
</head>
<body>

	
		
		<div class = "row card-header">
		
			<div class="col-1">
				<div class="font-weight-bold" th:text="${titulo}"></div>
			</div>
			
			<div class="col-11">
				<img src="https://vignette.wikia.nocookie.net/es.pokemon/images/7/74/Charizard_XY.gif/revision/latest?cb=20140807015236" alt="Charizard XY" class="lzyPlcHld lzyTrns lzyLoaded" data-image-key="Charizard_XY.gif" data-image-name="Charizard XY.gif" data-src="https://vignette.wikia.nocookie.net/es.pokemon/images/7/74/Charizard_XY.gif/revision/latest?cb=20140807015236" width="50" height="50" onload="if(typeof ImgLzy==='object'){ImgLzy.load(this)}">
			</div>
		</div>
		
		<div class ="container"> 
			<div class="card border-warning mb-3">
						<div class="card-body text-warning">
						
						
							<div class="form-group">
						    	<label for="exampleInputPassword1">Cliente</label>
						    	<input th:value="${movimiento.cuenta.cliente.nombres} + ' ' + ${movimiento.cuenta.cliente.apellidos} " type="text" class="form-control" disabled='disabled'>
						 	</div>
						 	
							<div class="form-group">
						    	<label for="exampleInputPassword1">Cuenta</label>
						    	<input th:value="${ncuenta} " type="text" class="form-control" disabled='disabled'>
						 	</div>
						 	
						 	<div class="form-group">
						    	<label for="exampleInputPassword1">Banco</label>
						    	<input th:value="${banco} " type="text" class="form-control" disabled='disabled'>
						 	</div>
						 	
						 	<div class="form-group">
						    	<label for="exampleInputPassword1">Saldo Disponible</label>
						    	<input th:value="${monto} " type="text" class="form-control" disabled='disabled'>
						 	</div>
						</div>
					</div>
		
		<div class="card-body">
		
				
				<form th:action="@{'/agregarMovimiento/' + ${idcuenta}}" th:object="${movimiento}" method="post">
				  
				  <div class="form-group">
				    <label for="exampleFormControlSelect1">Tipo Movimiento </label>
				    <select th:field="*{tipo}" class="form-control" id="">
				      <option value ="deposito">Deposito</option>
				      <option value ="retiro">Retiro</option>
				     </select>
				  </div>
				  
				  <div class="form-group">
				    <label for="formGroupExampleInput">Monto</label>
				    <input th:field="*{monto}" type="text" class="form-control" id="" placeholder="Ingresar Monto">
				  </div>
				  
				
				    
				   
				  <button type="submit" class="btn btn-primary">Agregar Movimiento</button>
				  
				</form>
			
		
		</div>
	
	</div>
</body>
</html>