<!DOCTYPE html>
<html xmlns:th = "http:/www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/css/jquery-ui.min.css}" />
<title>Insert title here</title>
</head>
<body>
	 
		
		<div class = " row card-header">
		
			<div class="col-1">
				<div class="font-weight-bold" th:text="${titulo}"></div>
			</div>
			
			<div class="col-11">
				<img src="https://vignette.wikia.nocookie.net/es.pokemon/images/7/74/Charizard_XY.gif/revision/latest?cb=20140807015236" alt="Charizard XY" class="lzyPlcHld lzyTrns lzyLoaded" data-image-key="Charizard_XY.gif" data-image-name="Charizard XY.gif" data-src="https://vignette.wikia.nocookie.net/es.pokemon/images/7/74/Charizard_XY.gif/revision/latest?cb=20140807015236" width="50" height="50" onload="if(typeof ImgLzy==='object'){ImgLzy.load(this)}">
			</div>
			
		</div>
		
		<div class ="container">
		<div class="card-body">
		
				
				<form th:action="@{/agregar}" th:object="${cliente}" method="post">
				  <div class="form-group">
				    <label for="formGroupExampleInput">Nombres</label>
				    <input th:field="*{nombres}" type="text" class="form-control" id="" placeholder="Ingresar Nombres">
				  </div>
				  
				  <div class="form-group">
				    <label for="formGroupExampleInput">Apellidos</label>
				    <input th:field="*{apellidos}" type="text" class="form-control" id="" placeholder="Ingresar Apellidos">
				  </div>
				  
				  <div class="form-group">
				    <label for="formGroupExampleInput">DNI</label>
				    <input th:field="*{dni}" type="text" class="form-control" id="" placeholder="Ingresar DNI">
				  </div>
				  
				   <div class="form-group">
				    <label for="formGroupExampleInput">Contrasena</label>
				    <input th:field="*{contrasenia}" type="password" class="form-control" id="" placeholder="Ingresar Contrasena">
				  </div>
				  
				  <button type="submit" class="btn btn-primary">Agregar</button>
				</form>
			
		
		</div>
	
	</div>
	
</body>
</html>