<!DOCTYPE html>
<html xmlns:th = "http:/www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/css/jquery-ui.min.css}" />
<title>Insert title here</title>
</head>
<body>


	<div class ="container"> 
		
		<div class = "card-header">
			<div th:text="${titulo}"></div>
		</div>
		<div class="card-body">
		
			<form th:action="@{/agregarCuenta}" th:object="${cuenta}" method="post">


				  <div class="form-group">
				    <label for="exampleFormControlSelect1">Banco</label>
				    <select th:field="*{banco}" class="form-control" id="">
				      <option value ="BCP">BCP</option>
				      <option value ="BBVA">BBVA</option>
				      <option value ="Sctoiabank">Sctoiabank</option>
				      <option value ="Interbank">Interbank</option>
				      <option value ="BanBif">BanBif</option>
				     </select>
				  </div>
				
				    <div class="form-group">
				    <label for="exampleInputPassword1">Numero de Cuenta</label>
				    <input th:field="*{ncuenta}" type="text" class="form-control" id="" placeholder="Ingresar numero de cuenta">
				  </div>
				    <div class="form-group">
				    <label for="exampleInputPassword1">Saldo</label>
				    <input th:field="*{saldo}" type="text" class="form-control" id="" placeholder="Ingresar saldo">
				  </div>
				  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
							
		
		</div>
	
	</div>


</body>
</html>