<!DOCTYPE html>
<html xmlns:th = "http:/www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/css/jquery-ui.min.css}" />
<title>Insert title here</title>
</head>
<body>
	
	<div class ="container"> 
		
		<div class = "card-header">
			<div th:text="${titulo}"></div>
		</div>
		
		<div class="card border-warning mb-3">
						<div class="card-body text-warning">
							<div class="form-group">
						    	<label for="exampleInputPassword1">Cliente</label>
						    	<input th:value="${cuenta.cliente.nombres} + ' ' + ${cuenta.cliente.apellidos} " type="text" class="form-control" disabled='disabled'>
						 	</div>
						</div>
					</div>
					
		<div class="card-body">
		
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">Banco</th>
			      <th scope="col">Correo</th>
			      <th scope="col">Saldo</th>
			      <th scope="col">Movimiento</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="cuenta : ${cuentas}">
			      <td th:text ="${cuenta.id}"></td>
			      <td th:text ="${cuenta.banco}"></td>
			      <td th:text ="${cuenta.ncuenta}"></td>
			      <td th:text ="${cuenta.saldo}"></td>
			      <td><a class="btn btn-secondary" th:href="@{/agregarMovimiento/} + ${cuenta.id}">Agregar Movimiento</a></td>
			      
			  </tbody>
			</table>
			
					<a th:href= "@{/listar}"class="btn btn-primary" role="button">Home</a>
		
			
			
		</div>
	
	</div>

</body>
</html>