<!DOCTYPE html>
<html xmlns:th = "http:/www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/css/jquery-ui.min.css}" />
<title>Insert title here</title>
</head>
<body>
	
	<div class ="container"> 
		
		<div class = "card-header">
			<div th:text="${titulo}"></div>
		</div>
		<div class="card-body">
		
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">Banco</th>
			      <th scope="col">Correo</th>
			      <th scope="col">Saldo</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="cuenta : ${cuentas}">
			      <td th:text ="${cuenta.id}"></td>
			      <td th:text ="${cuenta.banco}"></td>
			      <td th:text ="${cuenta.ncuenta}"></td>
			      <td th:text ="${cuenta.saldo}"></td>
			      
			  </tbody>
			</table>
			
			<div class="row container">
				<div class="col">
				<a th:href= "@{'/agregarCuenta/' + ${cuenta.cliente.id}}"class="btn btn-primary" role="button">Agregar Cuenta</a>
			</div>
				<div clas="col">
					<a th:href= "@{/listar}"class="btn btn-primary" role="button">Home</a>
				</div>
			</div>
			
			
		</div>
	
	</div>

</body>
</html>