<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/css/jquery-ui.min.css}" />
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<div class = " row card-header">
		
			<div class="col-1">
				<div class="font-weight-bold" th:text="${titulo}"></div>
			</div>
			
			<div class="col-11">
				<img src="https://vignette.wikia.nocookie.net/es.pokemon/images/7/74/Charizard_XY.gif/revision/latest?cb=20140807015236" alt="Charizard XY" class="lzyPlcHld lzyTrns lzyLoaded" data-image-key="Charizard_XY.gif" data-image-name="Charizard XY.gif" data-src="https://vignette.wikia.nocookie.net/es.pokemon/images/7/74/Charizard_XY.gif/revision/latest?cb=20140807015236" width="50" height="50" onload="if(typeof ImgLzy==='object'){ImgLzy.load(this)}">
			</div>
			
		</div>

		
		
		<div class="container">
		
		<div class="card border-warning mb-3">
						<div class="card-body text-warning">
						
						
							<div class="form-group">
						    	<label for="exampleInputPassword1">Cuenta</label>
						    	<input th:value="${cliente} " type="text" class="form-control" disabled='disabled'>
						 	</div>
						 	
							<div class="form-group">
						    	<label for="exampleInputPassword1">Cuenta</label>
						    	<input th:value="${ncuenta} " type="text" class="form-control" disabled='disabled'>
						 	</div>
						 	
						 	<div class="form-group">
						    	<label for="exampleInputPassword1">Banco</label>
						    	<input th:value="${banco} " type="text" class="form-control" disabled='disabled'>
						 	</div>
						</div>
					</div>
		<div class="card-body">
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">id</th>
			      <th scope="col">tipo</th>
			      <th scope="col">Monto</th>
			      <th scope="col">Fecha</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="movimiento: ${movimientos}">
			      <td th:text="${movimiento.id}"></td>
			      <td th:text="${movimiento.tipo}"></td>
			      <td th:text="${movimiento.monto}"></td>
			      <td th:text="${movimiento.fecha}"></td>
			    </tr>
			  </tbody>
			</table>
			
			<div class="row container">
				<div class="col">
				<a th:href= "@{'/agregarMovimiento/' + ${idcuenta}}"class="btn btn-primary" role="button">Agregar</a>
					
			</div>
			<div class="col">
					<a th:href="@{'/listarCuenta/' + ${idcliente}}"  class="btn btn-primary" role="button">Volver</a>
			</div>
			</div>
		</div>
	</div>
</body>
</html>